<div ng-app="" class="center jumbotron" >
<article >
  <header>
    <h1 ng-if="name">Hello, {{name}}</h1>
  </header>
  <section>
    <form class="form-inline">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control"
               name="name"
               type="text"
               placeholder="Enter your name"
               autofocus
               ng-model="name">
      </div>
    </form>
  </section>
</article>
</div>
<div>
  <h3>Comments </h3>
  <%= react_component('Comment',{author: 'RS',body: 'Ruby', rank:1}) %>
</div>