<h1>Player:</h1>
<div class="container">

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @player.rating %>
</p>
<%= link_to 'Back', players_path %>
</div>